ApiProjectArchitecture/bin/
ApiProjectArchitecture/.vs/
ApiProjectArchitecture/obj/Debug/
Data/bin/
Data/obj/Debug/
Entities/bin/
Entities/obj/Debug/
Services/bin/
Services/obj/Debug/
Utilities/bin/
Utilities/obj/Debug/
.gitignore